<form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-2">
  <mat-form-field appearance="fill">
    <mat-label class="text-white">Name of your task</mat-label>
    <input formControlName="taskName" matInput class="text-white font-medium" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label class="text-white">Add a description to your task</mat-label>
    <textarea
      rows="3"
      formControlName="taskDescription"
      matInput
      class="text-white font-medium"
    ></textarea>
  </mat-form-field>
  <div class="flex justify-between gap-6">
    <button
      color="primary"
      mat-raised-button
      cdkFocusInitial
      [mat-dialog-close]
      type="submit"
      [disabled]="!form.valid"
    >
      Ok
    </button>

    <button
      color="primary"
      class="bg-red-600"
      mat-raised-button
      [mat-dialog-close]
    >
      Go Away
    </button>
  </div>
</form>
