<p>todolist works!</p>

<add-new-todo></add-new-todo>

<mat-list>
<mat-list-item 
  
  >
    
  </mat-list-item>
 </mat-list>

 <div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let task of todoListTasks">
        <mat-expansion-panel-header>
            <mat-panel-title>
              <app-task [task]="task" (checkedChangedEvent)="onCheckboxChanged($event)"></app-task>
            </mat-panel-title>
            <mat-panel-description>
                {{task.taskDesc}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>