<div class="flex flex-col items-center pt-[8vh] gap-5 w-[90vw] md:w-[45vw]">
  <add-task
    [todoId]="this.todoListId"
    (newTask)="onNewTaskAdded($event)"
  ></add-task>

  <!-- Dette kan vel godt slettes? -->

  <!-- <mat-list>
    <mat-list-item> </mat-list-item>
  </mat-list> -->
  <!-- -------------- -->

  <div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let task of todoListTasks">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <app-task
              [task]="task"
              (checkedChangedEvent)="onCheckboxChanged($event)"
            ></app-task>
          </mat-panel-title>
          <mat-panel-description> {{ task.taskDesc }} </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let subtask of task.subTasks">
          <span>{{ subtask.subName }}</span>
          <span>{{ subtask.subDesc }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
